<div class="article_list clearfix">
  <% unless articles.empty? %>
    <% articles.each do |article| %>
      <div class="article_item clearfix">
        <div class="article_item_img">
          <% unless article.poster_url.blank? %>
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
          <% else %>
            <img src="<%= asset_path('no-image.jpg') %>" alt="">
          <% end %>
        </div>
        <div class="article_info clearfix">
          <h3><%= link_to article.article_title.truncate(28), article %></h3>
          
          <p class="article_link">
            <%= link_to user_path(article.user), data: { turbolinks: false } do %>
            <i class="fa fa-user" aria-hidden="true"></i><%= article.user.name %>
            <% end %>
          </p>
          
          <p class="article_link">
            <%= link_to movie_path(article.movie_id), data: { turbolinks: false } do %>
            <i class="fa fa-film" aria-hidden="true"></i><%= article.movie_title %>
            <% end %>
          </p>
          
          <p class="article_link">
            <%= link_to room_path(article.movie_id), data: { turbolinks: false } do %>
            <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
            <% end %>
          </p>

          <p class="article_content"><%= article.content.truncate(30) %></p>

          <p class="article_info_batch"><span class="label label-info"><%= ranking_good_counts[article.id] ||= 0 %> いいね</span>
            <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>投稿がありません</p>
  <% end %>
</div>