<div class="article_list clearfix">
  <% articles.each do |article| %>
      <div class="article_item clearfix">
        <div class="article_item_img">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
        </div>
        <div class="article_info clearfix">
          <h3><%= link_to article.article_title.truncate(28), article %></h3>
          <p><span class="label label-info"><%= ranking_stock_counts[article.id] ||= 0 %> ストック</span>
            <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
          <p class="article_movie_title">映画：<%= article.movie_title %></p>
          <p class="article_user_name">投稿者：<%= article.user.name %></p>
          <p class="article_content"><%= article.content.truncate(30) %></p>
          <div class="pull-right"><%= render 'user_articles/stock_button', article: article %></div>
        </div>
      </div>
  <% end %>
</div>