<div id="article_new_contents">

  <div id="upload_area" class="clearfix">
    <%= render 'images/form_uploader' %>
    <div class="upload_area_right">
      <ul id="upload_images" class="clearfix">
        <%= render @galleries %>
      </ul>
      <p class="upload_desc" <%= 'style=display:block;' if @galleries.present? %>>写真を選択すると、URLがクリップボードにコピーされます</p>
    </div>
  </div>
  
<%= form_for(@article, html: { class: 'form-horizontal'}) do |f| %>

  <div class="article_form_box clearfix">
    <div class="article_form_left">
      <div class="article_edit_title">
        <%= f.text_field :article_title, class: 'form-control', placeholder: 'タイトル' %>
      </div>
      <div class="article_edit_content">
        <%= f.text_area :content, id: 'simple-editor', class: 'form-control', rows: 10, placeholder: "『#{@article.movie_title}』は、いかがでしたか？" %>
      </div>
    </div>
    <div class="article_form_right">
      <h3 class="article_form_title">詳細情報を入れてみましょう</h3>
      <div class="article_form_box">
        <label>公開日：</label>
        <div class="article_form_input">
          <%= f.text_field :release_date, class: 'form-control' %>
        </div>
      </div>
      <div class="article_form_box">
        <label>監督名：</label>
        <div class="article_form_input">
          <%= f.text_field :director, class: 'form-control' %>
        </div>
      </div>
      <div class="article_form_box">
        <label>出演者：</label>
        <div class="article_form_input">
          <%= f.text_field :performer, class: 'form-control' %>
        </div>
      </div>
      <div class="article_form_slider">
        <h3 class="article_form_title">この映画を５要素で表すと</h3>
        <div class="article_slider_box">
          <label>くすくす：<span id="slider-1-val"></span></label>
          <div id="slider-01"></div>
          <%= f.hidden_field :point_1, class: 's-val-1', value: @article.point_1 %>
        </div>
        <div class="article_slider_box">
          <label>しみじみ：<span id="slider-2-val"></span></label>
          <div id="slider-02"></div>
          <%= f.hidden_field :point_2, class: 's-val-2', value: @article.point_2 %>
        </div>
        <div class="article_slider_box">
          <label>どきどき：<span id="slider-3-val"></span></label>
          <div id="slider-03"></div>
          <%= f.hidden_field :point_3, class: 's-val-3', value: @article.point_3 %>
        </div>
        <div class="article_slider_box">
          <label>ひやひや：<span id="slider-4-val"></span></label>
          <div id="slider-04"></div>
          <%= f.hidden_field :point_4, class: 's-val-4', value: @article.point_4 %>
        </div>
        <div class="article_slider_box">
          <label>すっきり：<span id="slider-5-val"></span></label>
          <div id="slider-05"></div>
          <%= f.hidden_field :point_5, class: 's-val-5', value: @article.point_5 %>
        </div>
      </div>
    </div>
  </div>

  <%= f.hidden_field :movie_title, value: @article.movie_title %>
  <%= f.hidden_field :user_id, value: current_user.id   %>
  <%= f.hidden_field :movie_id, value:  @article.movie_id   %>
  <%= f.hidden_field :poster_url, value:  @article.poster_url   %>

  <div class="text-center">
    <%= f.submit '編集する', class: 'btn btn-primary' %>
    <%= link_to '削除する', @article, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  </div>

<% end %>
</div>
