<% content_for :cover do %>
<div class="show_article_titarea" style="background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= asset_path 'article_bg.jpg' %>')">
  <div class="show_article_titarea_inner">
      <h2 class="show_article_tit"><%= @article[:article_title] %></h2>
  </div>
</div>
<% end %>

<div class="show_article">
  <p class="show_info">
    <%= link_to @article.user.name, user_path(@article.user), class: 'username' %> | 
    <span class="date"><%= @article[:updated_at].strftime('%Y/%m/%d') %></span>
  </p>
  <div class="show_article_table">
    <p><span class="label label-info"><%= @ranking_good_counts[@article.id] ||= 0 %> いいね</span>
      <span class="label label-success"><%= Impression.where(impressionable_id: @article.id).size ||= 0 %> PV</span></p>
  </div>
  <div class="show_movie_info">
    <%= link_to movie_path(@article.movie_id) , class: 'show_movie_info_name' do %>
      <i class="fa fa-film" aria-hidden="true"></i><%= @article.movie_title %>
    <% end %>
    <%= link_to room_path(@article.movie_id) , class: 'show_movie_info_room' do %>
      <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
    <% end %>

  </div>

  <div class="show_article_content">
    <%= markdown(@article[:content]).html_safe %>
  </div>

  <div class="show_article_footer clearfix">
    <div class="show_article_good">
    <%= render 'user_articles/good_button', article: @article %>
    </div>
    <% # ログインをしていないユーザでも閲覧は可能 %>
    <% if !current_user.blank? && current_user.id == @article.user_id %>
      <p class="show_article_edit"><%= link_to '編集する', edit_article_path(@article.id) %></p>
    <% end %>
  </div>
</div>

<div class="show_article_sidebar">
  <h3 class="show_article_sidebar_title">このユーザの評価</h3>
  <div id="chartbox">
    <canvas id="radarChart"></canvas>
  </div>

  <h3 class="show_article_sidebar_title">この映画の詳細情報</h3>
  <table>
    <tbody>
    <tr>
      <th>公開日</th>
      <td>：</td>
      <td><%= @article[:release_date] %></td>
    </tr>
    <tr>
      <th>監督名</th>
      <td>：</td>
      <td><%= @article[:director] %></td>
    </tr>
    <tr>
      <th>出演者</th>
      <td>：</td>
      <td><%= @article[:performer] %></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- レーダーチャート -->
<%= javascript_include_tag 'radar-chart', 'data-turbolinks-track': 'reload' %>
