<% content_for :cover do %>
<div class="movie_detail ">
  <div class="movie_detail_inner clearfix">
    <h1><%= @article[:movie_title] %></h1>
    <div class="movie_detail_img">
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= @article[:poster_url] %>" alt="">
    </div>
    <div class="movie_detail_info">
      <p><%= @movie['overview'].present? ? @movie['overview'] : '概要はありません' %></p>
    </div>
  </div>
</div>
<% end %>

<div class="show_article">
  <h2 class="show_article_title"><%= @article[:article_title] %></h2>
  <div class="show_article_table">
    <p><span class="label label-info"><%= @ranking_stock_counts[@article.id] ||= 0 %> ストック</span>
      <span class="label label-success"><%= Impression.where(impressionable_id: @article.id).size ||= 0 %> PV</span></p>
  </div>

  <div class="show_article_content">
    <%= markdown(@article[:content]).html_safe %>
  </div>

  <% # ログインをしていないユーザでも閲覧は可能 %>
  <% if !current_user.blank? && current_user.id == @article.user_id %>
    <p class="show_article_edit"><%= link_to '編集する', edit_article_path(@article.id) %></p>
  <% end %>
</div>

<div class="show_article_sidebar">
  <h3 class="show_article_sidebar_title">このユーザの評価</h3>
  <div id="chartbox">
    <canvas id="radarChart"></canvas>
  </div>

  <h3 class="show_article_sidebar_title">この映画の詳細情報</h3>
  <table>
    <tbody>
    <tr>
      <th>公開日</th>
      <td>：</td>
      <td><%= @article[:release_date] %></td>
    </tr>
    <tr>
      <th>監督名</th>
      <td>：</td>
      <td><%= @article[:director] %></td>
    </tr>
    <tr>
      <th>出演者</th>
      <td>：</td>
      <td><%= @article[:performer] %></td>
    </tr>
    </tbody>
  </table>
</div>

<!-- レーダーチャート -->
<%= javascript_include_tag 'radar-chart', 'data-turbolinks-track': 'reload' %>
