<h3 class="subtitle02"><i class="fa fa-search" aria-hidden="true"></i>「<%= @query %>」の検索結果</h3>

<div class="movies clearfix">
<% if @movies.present? %>
  <% @movies.each do |movie|%>
    <div class="movie_item clearfix">
      <div class="movie_item_img">
        <% unless movie['poster_path'].blank? %>
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= movie['poster_path']  %>" alt="">
        <% else %>
          <img src="<%= asset_path('no-image.jpg') %>" alt="">
        <% end %>
      </div>
      <div class="movie_item_info">
        <h3><%= link_to movie['title'].truncate(22), movie_path( movie['id'] ) %></h3>
        
        <p class="article_link">
          <%= link_to new_article_path(movie.to_hash) do %>
          <i class="fa fa-film" aria-hidden="true"></i>記事を書く
          <% end %>
        </p>
        
        <p class="article_link">
          <%= link_to room_path(movie['id']) do %>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
          <% end %>
        </p>

        <dl>
          <dt>概要</dt>
          <% if movie['overview'].present? %>
            <dd><%= movie['overview'].truncate(100) %></dd>
          <% else %>
            <dd>なし</dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
<% else %>
  <p>該当する映画は見つかりませんでした。<br />
  検索キーワードの表記を変更して、もう一度お探しください。<br >
  例：ハリーポッター　⇒　ハリー・ポッター</p>
<% end %>
</div>
