<% content_for :cover do %>
    <div class="movie_detail ">
      <div class="movie_detail_inner clearfix">
        <h1><%= @movie['title'] %></h1>
        <div class="movie_detail_img">
          <% unless @movie['poster_path'].blank? %>
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= @movie['poster_path'] %>" alt="">
          <% else %>
            <img src="<%= asset_path('no-image.jpg') %>" alt="">
          <% end %>
        </div>
        <div class="movie_detail_info">
          <p><%= @movie['overview'].present? ? @movie['overview'] : '概要はありません' %></p>
          <div class="movie_btn_list clearfix">
            <%= link_to new_article_path(@movie), data: { turbolinks: false } do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>記事を書く
            <% end %>
            <%= link_to room_path(@movie['id']) do %>
              <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
            <% end %>
            <div id="watched_btn"><%= render 'watches/watched_button', movie: @movie %></div>
          </div>
        </div>
      </div>
    </div>
<% end %>

 <h3 class="subtitle02"><i class="fa fa-file" aria-hidden="true"></i>この映画に関連する記事</h3>
<% if @articles.present? %>
    <div class="article_list clearfix">
      <% @articles.each do |article| %>
          <div class="article_item clearfix">
            <div class="article_user_item_img">
              <img src="<%= gravatar_url(current_user, { size: 120 }) %>" alt="">
            </div>
            <div class="article_user_item_info clearfix list_user">
              <p class="article_user_item_name">
                <%= link_to article.user.name, user_path(article.user.id) %>
                </p>
              <h3><%= link_to article.article_title.truncate(18), article %></h3>
              <p class="article_user_item_info_content"><%= article.content.truncate(40) %></p>
              <p class="article_user_item_info_batch"><span class="label label-info"><%= @ranking_good_counts[article.id] ||= 0 %> いいね</span>
              <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <p>関連する記事はまだありません。</p>
<% end %>
