<% content_for :cover do %>
    <div class="movie_detail ">
      <div class="movie_detail_inner clearfix">
        <h1><%= @movie['title'] %></h1>
        <div class="movie_detail_img">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= @movie['poster_path'] %>" alt="">
        </div>
        <div class="movie_detail_info">
          <p><%= @movie['overview'].present? ? @movie['overview'] : '概要はありません' %></p>
          <p>
            <%= link_to 'この映画の記事を書く', new_article_path(@movie), class: 'btn btn-default pull-right' %>
            <%= link_to 'この映画のチャットルーム', room_path(@movie['id']), class: 'btn btn-default pull-right' %>
          </p>
        </div>
      </div>
    </div>
<% end %>

<div class="page-header">
  <h3>この映画に関連する記事</h3>
</div>
<% if @articles.present? %>
    <div class="article_list clearfix">
      <% @articles.each do |article| %>
          <div class="article_item clearfix">
            <div class="article_item_img">
              <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
            </div>
            <div class="article_info clearfix">
              <h3><%= link_to article.article_title, article %></h3>
              <div class="pull-right"><%= render 'user_articles/stock_button', article: article %></div>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <p>関連する記事はまだありません。</p>
<% end %>
