<% content_for :cover do %>
    <div class="movie_detail ">
      <div class="movie_detail_inner clearfix">
        <h1><%= @movie['title'] %></h1>
        <div class="movie_detail_img">
          <% unless @movie['poster_path'].blank? %>
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= @movie['poster_path'] %>" alt="">
          <% else %>
            <img src="<%= asset_path('no-image.jpg') %>" alt="">
          <% end %>
        </div>
        <div class="movie_detail_info">
          <p><%= @movie['overview'].present? ? @movie['overview'] : '概要はありません' %></p>
          <p>
            <%= link_to 'この映画の記事を書く', new_article_path(@movie), class: 'btn btn-default pull-right', data: { turbolinks: false } %>
            <%= link_to 'この映画のチャットルーム', room_path(@movie['id']), class: 'btn btn-default pull-right' %>
          </p>
        </div>
      </div>
    </div>
<% end %>

<div class="page-header">
  <h3>この映画に関連する記事</h3>
</div>
<% if @articles.present? %>
    <div class="article_list clearfix">
      <% @articles.each do |article| %>
          <div class="article_item clearfix">
            <div class="article_user_item_img">
              <img src="<%= gravatar_url(current_user, { size: 120 }) %>" alt="">
            </div>
            <div class="article_user_item_info clearfix list_user">
              <p class="article_user_item_name">
                <%= link_to '@'+article.user.name, user_path(article.user.id) %>
                </p>
              <h3><%= link_to article.article_title, article %></h3>
              <p class="article_user_item_info_content"><%= article.content.truncate(40) %></p>
              <p class="article_user_item_info_batch"><span class="label label-info"><%= @ranking_good_counts[article.id] ||= 0 %> いいね</span>
              <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <p>関連する記事はまだありません。</p>
<% end %>
