<div class="profile">
<div class="profile_box clearfix">
  <aside class="profile_box_left">
    <h3 class="profile_name"><%= @user.name %></h3>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <% unless @watched_list.blank? %>
      <div class="watched_list">
      <h3 class="subtitle01">観た映画</h3>
        <ul>
          <% @watched_list.each do |movie| %>
          <li class="clearfix">
            <p class="m_poster"><img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= movie.movie_poster_path %>" alt=""></p>
            <p class="m_title"><%= link_to movie.movie_title, movie_path(movie.movie_id) %></p>
            <p class="m_chat">
              <%= link_to room_path(movie.movie_id) do %>
              <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
              <% end %>
            </p>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
  </aside>
  <div class="profile_box_right">
    <% unless @articles.empty? %>    
    <h3 class="subtitle02"><i class="fa fa-th-list" aria-hidden="true"></i>投稿した記事</h3>
      <% @articles.each do |article| %>        
          <div class="mypage_article_item clearfix">
            <div class="mypage_article_item_img">
              <% unless article.poster_url.blank? %>
                <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
              <% else %>
                <img src="<%= asset_path('no-image.jpg') %>" alt="">
              <% end %>
            </div>
            <div class="mypage_article_info clearfix">
              <h3><%= link_to article.article_title.truncate(20), article, data: { turbolinks: false } %></h3>
             
              <p class="article_link">
                <%= link_to user_path(article.user) do %>
                <i class="fa fa-user" aria-hidden="true"></i><%= article.user.name %>
                <% end %>
              </p>
              
              <p class="article_link">
                <%= link_to movie_path(article.movie_id) do %>
                <i class="fa fa-film" aria-hidden="true"></i><%= article.movie_title %>
                <% end %>
              </p>
              
              <p class="article_link">
                <%= link_to room_path(article.movie_id) do %>
                <i class="fa fa-commenting-o" aria-hidden="true"></i>チャットに参加
                <% end %>
              </p>
              
              <p class="article_content"><%= article.content.truncate(42) %></p>
              <p class="article_info_batch"><span class="label label-info"><%= @ranking_good_counts[article.id] ||= 0 %> いいね</span>
                <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
            </div>
          </div>
      <% end %>
    <% else %>
      <p>まだ記事を投稿していません</p>
    <% end %>
  </div>
</div>
</div>