<div class="profile">
<div class="row">
  <aside class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-12 col-sm-8">
    <% unless @articles.empty? %>    
      <% @articles.each do |article| %>
          <div class="mypage_article_item clearfix">
            <div class="mypage_article_item_img">
              <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
            </div>
            <div class="mypage_article_info clearfix">
              <h3><%= link_to article.article_title.truncate(20), article %></h3>
              <p><span class="label label-info"><%= @ranking_stock_counts[article.id] ||= 0 %> ストック</span>
                <span class="label label-success"><%= Impression.where(impressionable_id: article.id).size ||= 0 %> PV</span></p>
              <p class="article_movie_title">映画：<%= article.movie_title %></p>
              <p class="article_user_name">投稿者：<%= article.user.name %></p>
              <p class="article_content"><%= article.content.truncate(42) %></p>
              <% unless current_user == article.user %>
                <div class="pull-right"><%= render 'user_articles/stock_button', article: article %></div>
              <% end %>
            </div>
          </div>
      <% end %>
    <% else %>
      <p>まだ記事を投稿していません</p>
    <% end %>
  </div>
</div>
</div>