<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>映画をもっと近くに</h1>
        <% unless logged_in? %>
        <a href="" class="btn btn-success btn-lg">Movie Blogを始める</a>
        <% else %>
        <%= form_tag(movies_path, :method => :get) do %>
          <div class="form-group">
            <%= text_field_tag(:query, '', placeholder: "最近観た映画はなんですか？", class: 'form-control') %>
          </div>
          <div class="text-center">
            <%= submit_tag('検索', class: 'btn btn-success') %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h2>最近の投稿</h2>
</div>

<div class="article_list clearfix">
<% @articles.each do |article| %>
<div class="article_item clearfix">
  <picture>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2<%= article.poster_url %>" alt="">
  </picture>
  <div class="article_info">
    <h3><%= link_to article.article_title.truncate(28), article %></h3>
    <p class="article_movie_title">映画：<%= article.movie_title %></p>
    <p class="article_user_name">投稿者：<%= article.user.name %></p>
    <p class="article_content"><%= article.content.truncate(50) %></p>
    <div class="pull-right"><%= render 'user_articles/stock_button', article: article %></div>
  </div>
</div>
<% end %>
</div>