<% content_for :cover do %>
    <div class="cover" style="background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('<%= asset_path 'article_bg.jpg' %>')">
      <div class="cover-inner">
        <div class="cover-contents">
          <h1>映画をもっと近くに</h1>
          <% unless logged_in? %>
              <%= link_to 'Movie Blogを始める', signup_path, class: '"btn btn-success btn-lg' %>
          <% else %>
              <%= form_tag(movies_path, :method => :get) do %>
                  <div class="form-group">
                    <%= text_field_tag(:query, '', placeholder: "最近観た映画はなんですか？", class: 'form-control') %>
                  </div>
                  <div class="text-center">
                    <%= submit_tag('検索', class: 'btn btn-success') %>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<% if logged_in? %>
    <h3 class="subtitle02"><i class="fa fa-th-list" aria-hidden="true"></i>最近の投稿</h3>
    <%= render 'articles/article_list', articles: @articles, ranking_good_counts: @ranking_good_counts %>
<% end %>