<div class="room_list">
  <ul>
    <li class="room_list_title">チャット一覧</li>
    <% @join_rooms.each do |room_id, movie_title| %>
      <li>
        <%= link_to room_path(room_id), class: 'clearfix' do %>
            <i class="fa fa-film fa-3x" aria-hidden="true"></i>
            <div class="room_list_info">
              <p class="room_list_name"><%= movie_title.truncate(18) %></p>
              <% unless Message.where(room_id: room_id).blank? %>
                <p class="room_list_ago"><%= time_ago_in_words(Message.where(room_id: room_id).last.updated_at) + '前' %></p>  
              <% end %>
            </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="chat_timeline">
  <h2 class="room_title"><%= @join_rooms[@room_id.to_i] %></h2>
  <div id="messages", data-room_id="<%= @room_id %>" class="user_id_<%= @user_id %>">
    <%= render @messages %>
  </div>

  <div class="chat_textarea">
    <div class="chat_post_box clearfix">
      <div class="chat_post_box_left"></div>
      <div class="chat_post_box_right">
        <span class="text_length">400</span>
        <button class="post_btn" >送信</button>
      </div>
    </div>
    <form><textarea id="write" data-behavior="room_speaker" wrap="soft" placeholder="Cmd(Ctl) + Enter または、右上のボタンから送信"></textarea></form>
  </div>
</div>
