<li><a style="background-image: url('<%= gallery.image.url %>');"  data-clipboard-text="<%= gallery.image.url %>" id="url_<%= gallery.id %>" data-clipboard-target='<%= gallery.id %>'>
    <input value="<%= gallery.image.url %>" id="<%= gallery.id %>">
</a></li>