<div class="upload_area_left">
<%= form_tag(uploads_path, id: 'uploader', multipart: true, remote: true) do |f| %>
    <%= file_field_tag "images[]", id: 'select-iamges', type: :file, multiple: true %>
    <%= hidden_field_tag :movie_id, @article.movie_id   %>
    <%= hidden_field_tag :user_id, current_user.id   %>
    <%= button_tag '写真をアップロード', id: 'open-finder' %> 
<% end %>
</div>