<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag() %>

    <title>MoviLog</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- 共通のJS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- チャット用 -->
    <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/edffc0f230.js"></script>

  </head>

  <body class="fit_height" style="overflow: hidden;">
    <%= render 'layouts/navbar' %>
    <div id="room_warpper">
      <div id="room_contents" class="fit_height clearfix">
        <%= yield %>
      </div>
    </div>
    <!-- <%= render 'layouts/footer' %> -->
  </body>
</html>
